h1 {
    margin: 0;
}

nav {
    display: flex;
    background-color: black;
    min-height: 80px;
}

nav > div {
    flex: 1;
    
}
nav > * {
    color: white;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
}

.cartholder {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.cartholder > * {
    width: 21px;
}

.cartcontainer {
    position: relative;
}

.cartcontainer:hover {
    transform: scale(1.1);
}
.carttotal {
    position: absolute;
    top: 28px;
    left: 0px;
    background-color: rgb(255, 79, 79);
    color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}