.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.cart {
    border-radius: 5px;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
    padding: 10px;
    flex-wrap: wrap;
    min-width: auto;
}

.carttitle {
    font-weight: bold;
    font-size: 30px;
    flex-shrink: 1;
}

.buttons {
    width: 70%;
    height:7%;
    display: flex;
    justify-content: space-around;
}

.buttons > * {
    width: 40%;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
#checkout {
    
    background-color: rgba(46, 190, 46, 0.9);
}

#checkout:hover {
    background-color: rgba(46, 190, 46, 1);
}


#close {
    background-color: rgba(252, 89, 89, 0.9);
}

#close:hover {
    background-color: rgba(252, 89, 89, 1);
}

.items > img {
    max-height: 80px;
    max-width: 80px;

}
.items {
    display: flex;
    flex: 1
}

.itemtitle {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.count {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.count > button {
    max-height: 25px;
    max-width: 25px;
    border: none;
    font-weight: bold;
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.itemholder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.total {
    font-weight: bold;
    font-size: 20px;
}

